#content img[src$='center'] {
    display: block;
    margin: 0.7rem auto;
}

#content img[src$='left'] {
    float: left;
    margin: 0.7rem;
}

#content img[src$='right'] {
    float: right;
    margin: 0.7rem;
}